In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as s
import warnings

In [6]:
warnings.simplefilter("ignore")

In [4]:
df=pd.read_csv(r'/home/kiran/MLops/Project-1/artifacts/raw/train.csv')

In [5]:
df.head()

,Unnamed: 0,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,4083,INN04084,1,0,0,2,Meal Plan 2,0,Room_Type 1,102,2017,10,16,Offline,0,0,0,87.00,0,Not_Canceled
1,14707,INN14708,2,0,0,2,Meal Plan 1,0,Room_Type 1,42,2017,11,20,Offline,0,0,0,63.00,2,Not_Canceled
2,5925,INN05926,1,0,0,1,Meal Plan 1,0,Room_Type 1,0,2018,2,16,Online,0,0,0,85.00,0,Not_Canceled
3,33696,INN33697,2,0,1,4,Meal Plan 1,0,Room_Type 1,218,2018,10,17,Online,0,0,0,90.95,0,Canceled
4,25096,INN25097,2,0,0,1,Not Selected,0,Room_Type 1,115,2018,10,13,Online,0,0,0,108.00,0,Canceled

In [6]:
df.shape

(29020, 20)

In [7]:
df.duplicated().sum()

np.int64(0)

In [8]:
df.drop_duplicates(inplace=True)

In [9]:
df.columns

Index(['Unnamed: 0', 'Booking_ID', 'no_of_adults', 'no_of_children',
       'no_of_weekend_nights', 'no_of_week_nights', 'type_of_meal_plan',
       'required_car_parking_space', 'room_type_reserved', 'lead_time',
       'arrival_year', 'arrival_month', 'arrival_date', 'market_segment_type',
       'repeated_guest', 'no_of_previous_cancellations',
       'no_of_previous_bookings_not_canceled', 'avg_price_per_room',
       'no_of_special_requests', 'booking_status'],
      dtype='object')

In [10]:
cat_cols=['type_of_meal_plan', 'required_car_parking_space',
       'room_type_reserved','market_segment_type', 'repeated_guest','booking_status']
num_cols=[col for col in df.columns if col not in cat_cols]

In [11]:
num_cols

['Unnamed: 0',
 'Booking_ID',
 'no_of_adults',
 'no_of_children',
 'no_of_weekend_nights',
 'no_of_week_nights',
 'lead_time',
 'arrival_year',
 'arrival_month',
 'arrival_date',
 'no_of_previous_cancellations',
 'no_of_previous_bookings_not_canceled',
 'avg_price_per_room',
 'no_of_special_requests']

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21366 entries, 0 to 29019
Data columns (total 18 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   no_of_adults                          21366 non-null  int64
 1   no_of_children                        21366 non-null  int64
 2   no_of_weekend_nights                  21366 non-null  int64
 3   no_of_week_nights                     21366 non-null  int64
 4   type_of_meal_plan                     21366 non-null  int64
 5   required_car_parking_space            21366 non-null  int64
 6   room_type_reserved                    21366 non-null  int64
 7   lead_time                             21366 non-null  int64
 8   arrival_year                          21366 non-null  int64
 9   arrival_month                         21366 non-null  int64
 10  arrival_date                          21366 non-null  int64
 11  market_segment_type                   21366 non-null  int64
 12  repeated_guest                        21366 non-null  int64
 13  no_of_previous_cancellations          21366 non-null  int64
 14  no_of_previous_bookings_not_canceled  21366 non-null  int64
 15  avg_price_per_room                    21366 non-null  float64
 16  no_of_special_requests                21366 non-null  int64
 17  booking_status                        21366 non-null  int64
dtypes: float64(1), int64(17)
memory usage: 3.1 MB

In [29]:
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
mappings={}

In [30]:
for col in cat_cols:
    df[col] = label_encoder.fit_transform(df[col])

    mappings[col] = {label:code for label,code in zip(label_encoder.classes_ , label_encoder.transform(label_encoder.classes_))}

In [32]:
mappings

{'type_of_meal_plan': {'Meal Plan 1': np.int64(0),
  'Meal Plan 2': np.int64(1),
  'Meal Plan 3': np.int64(2),
  'Not Selected': np.int64(3)},
 'required_car_parking_space': {np.int64(0): np.int64(0),
  np.int64(1): np.int64(1)},
 'room_type_reserved': {'Room_Type 1': np.int64(0),
  'Room_Type 2': np.int64(1),
  'Room_Type 3': np.int64(2),
  'Room_Type 4': np.int64(3),
  'Room_Type 5': np.int64(4),
  'Room_Type 6': np.int64(5),
  'Room_Type 7': np.int64(6)},
 'market_segment_type': {'Aviation': np.int64(0),
  'Complementary': np.int64(1),
  'Corporate': np.int64(2),
  'Offline': np.int64(3),
  'Online': np.int64(4)},
 'repeated_guest': {np.int64(0): np.int64(0), np.int64(1): np.int64(1)},
 'booking_status': {'Canceled': np.int64(0), 'Not_Canceled': np.int64(1)}}

In [38]:
from statsmodels.tools.tools import add_constant
from statsmodels.stats.outliers_influence import variance_inflation_factor